@model LPEntities.User
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/views/Shared/_logLayout.cshtml";
}
<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
                <img src="~/Content/images/logo.svg" alt="logo">
            </div>
            <h4>Hello! let's get started</h4>
            <h6 class="font-weight-light">Sign in to continue.</h6>
            @using (Html.BeginForm("Forgotpassword", "Account", FormMethod.Post, new { @class = "pt-3" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter your email", @required = "required" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter your name", @required = "required" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword", @required = "required" })
                </div>

                <div class="mt-3">
                    @*<a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Submit</a>*@
                    <input type="submit" name="SavePassword" value="Submit" id="btnSubmit" class="btn btn-block btn-primary btn-lg" />
                </div>
            }
            <div>
                <span id="result">@Html.DisplayFor(model => model.Error)</span>
            </div>
        </div>
    </div>
</div>



